{% extends 'base.html.twig' %}

{% block title %}StockSmartphone
{% endblock %}

{% block body %}
	<div class="container">
		<div>
			<h1>
				{{ stock_smartphone.smartphone.marque }}
				/

				{{ stock_smartphone.smartphone.name }}
			</h1>

		</div>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ stock_smartphone.id }}</td>
				</tr>
				<tr>
					<th>Color</th>
					<td>{{ stock_smartphone.color }}</td>
				</tr>
				<tr>
					<th>Rom</th>
					<td>{{ stock_smartphone.rom }}</td>
				</tr>
				<tr>
					<th>Ram</th>
					<td>{{ stock_smartphone.ram }}</td>
				</tr>
				<tr>
					<th>Year</th>
					<td>{{ stock_smartphone.year }}</td>
				</tr>
				<tr>
					<th>Price</th>
					<td>{{ stock_smartphone.price }}</td>
				</tr>
				<tr>
					<th>Quantity</th>
					<td>{{ stock_smartphone.quantity }}</td>
				</tr>
				<tr>
					<th>Status</th>
					<td>{{ stock_smartphone.status }}</td>
				</tr>
				<tr>
					<th>Imei</th>
					<td>{{ stock_smartphone.imei }}</td>
				</tr>
				<tr>
					<th>Sn</th>
					<td>{{ stock_smartphone.sn }}</td>
				</tr>
			</tbody>
		</table>

		<a class="btn btn-primary" href="{{ path('stock_smartphone_index', {'id': stock_smartphone.smartphone.id, 'marque': stock_smartphone.smartphone.Marque}) }}">back to list</a>

		<a class="btn btn-info" href="{{ path('stock_smartphone_edit', {'id': stock_smartphone.id, 'id_smartphone': stock_smartphone.smartphone.id }) }}">edit</a>

		{{ include('stock_smartphone/_delete_form.html.twig') }}

	</div>


{% endblock %}
